@model IEnumerable<JewelryStore.UI.Models.JewelryListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jewelry.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jewelry.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jewelry.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jewelry.CategoryId)
        </th>       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Jewelry.Image != null)
            {
                <div style="float: left; margin-right: 20px">
                    <img width="75" height="75" src="@Url.Action("GetImage", "Jewelry", new { item.Jewelry.JewelryId })" />
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jewelry.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jewelry.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jewelry.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>        
        <td>
            @Html.ActionLink("Купить", "Buy", new { jewelryId = item.Jewelry.JewelryId })         
        </td>
    </tr>
}

</table>


