@model IEnumerable<JewelryStore.UI.Models.JewelryListModel>

@{
    ViewBag.Title = "Index";
}
        <!-- BANNER -->
        <div class="bannercontainer">
            <div class="owl-carousel bannerV3">                 
                @foreach (var item in Model)
                {
                    if (item.Jewelry.Novelty == true)
                    {
                    <div class="slide">
                        <div class="slider-title">
                            <h3><span>Новинки</span></h3>
                        </div>
                        <div class="slide-info">
                            <div class="productImage">    
                                @if (item.Jewelry.Image != null)
                                {
                                    <img src="@Url.Action("GetImage", "Jewelry", new { item.Jewelry.JewelryId })" />
                                }
                                <div>
                                    <a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })"></a>
                                </div>                                    
                            </div>
                            <div class="productCaption">
                                <div class="banner-count clearfix">
                                    <div id="slider_timer"></div>
                                </div>
                                <h4>@Html.DisplayFor(modelItem => item.Jewelry.Name)</h4>
                                <div class="productMeta">
                                    <span class="offer-price">@Html.DisplayFor(modelItem => item.Jewelry.Price)</span>
                                    @*<span class="regular-price"><del>$80.00</del></span>
                                    <span class="offer">50% off</span>*@
                                </div>
                                <a href="@Url.Action("Buy", "Shop", new { jewelryId = item.Jewelry.JewelryId })" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a>
                                @*@Html.ActionLink("Купить", "Buy", new { jewelryId = item.Jewelry.JewelryId })*@                                
                            </div>
                        </div>
                    </div>
                   }
                }
                
            </div>
        </div>

   
    <!-- MAIN CONTENT SECTION -->
        <section class="mainContent clearfix">
            <div class="container">

                <!-- DEAL SECTION -->
                <div class="row dealSection">                    
                    <div class="col-xs-12">                        
                        <div class="owl-carousel dealSlider">
                            @foreach (var item in Model)
                            {
                                if (item.Jewelry.Discounted == true)
                                {
                                    <div class="slide">                                        
                                        <div class="imageBox">
                                            <div class="productImage clearfix">
                                                @if (item.Jewelry.Image != null)
                                                {
                                                    <a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">
                                                        <img src="@Url.Action("GetImage", "Jewelry", new { item.Jewelry.JewelryId })" />
                                                    </a>
                                                }                                                
                                            </div>
                                                <div class="productCaption clearfix text-center">
                                                  <h3><a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">@Html.DisplayFor(modelItem => item.Jewelry.Name)</a></h3>
                                                  <span class="offer-price">@Html.DisplayFor(modelItem => item.Jewelry.OfferPrice)</span>
                                                  <span class="regular-price"><del>@Html.DisplayFor(modelItem => item.Jewelry.Price)</del></span>
                                                  @*<a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })" class="btn btn-border">Buy Now<i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                                                   @Html.ActionLink("Купить", "Buy", new { jewelryId = item.Jewelry.JewelryId })
                                                </div>
                                        </div> 
                                    </div>
                                }
                            }
                      </div>                                 
                    </div>
                </div>

                <!-- FEATURE PRODUCT SECTION -->
                <div class="row featuredProducts version3">
                    <div class="col-xs-12">
                        <div class="tabCommon">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#menu1">Все украшения</a></li>
                                <li><a data-toggle="tab" href="#menu2">New Araivals</a></li>
                                <li><a data-toggle="tab" href="#menu3">Top Rated</a></li>
                                <li><a data-toggle="tab" href="#menu4">On Sale</a></li>
                            </ul>
                            <div class="tab-bottom">
                            </div>
                            <div class="tab-content">
                                <div id="menu1" class="tab-pane fade in active">
                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            if (item.Jewelry.IsAvailable == true)
                                            {
                                                <div class="col-sm-3 col-xs-12">
                                                    <div class="imageBox">
                                                        <div class="productImage clearfix">
                                                            <a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">
                                                                <img src="@Url.Action("GetImage", "Jewelry", new { item.Jewelry.JewelryId })" />
                                                            </a>
                                                            <div class="productMasking">
                                                                <ul class="list-inline btn-group" role="group">
                                                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                                    <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="productCaption clearfix">
                                                            <h5><a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">@Html.DisplayFor(modelItem => item.Jewelry.Name)</a></h5>
                                                            <h3>@Html.DisplayFor(modelItem => item.Jewelry.Price)</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            if (item.Jewelry.Novelty == true)
                                            {
                                                <div class="col-sm-3 col-xs-12">
                                                    <div class="imageBox">
                                                        <div class="productImage clearfix">
                                                            <a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">
                                                                <img src="@Url.Action("GetImage", "Jewelry", new { item.Jewelry.JewelryId })" />
                                                            </a>
                                                            <div class="productMasking">
                                                                <ul class="list-inline btn-group" role="group">
                                                                    <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                                    <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                                    <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="productCaption clearfix">
                                                            <h5><a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">@Html.DisplayFor(modelItem => item.Jewelry.Name)</a></h5>
                                                            <h3>@Html.DisplayFor(modelItem => item.Jewelry.Price)</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img5.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Mauris efficitur</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img3.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Mauris efficitur</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img8.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Scarf Ring Corner</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img9.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Sun Buddies</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img10.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Mauris efficitur</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img11.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Nike Sportswear</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img6.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Mauris efficitur</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="imageBox">
                                                <div class="productImage clearfix">
                                                    <a href="single-product.html">
                                                        <img src="img/home/featured-product/product-img4.jpg" alt="featured-product-img">
                                                    </a>
                                                    <div class="productMasking">
                                                        <ul class="list-inline btn-group" role="group">
                                                            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="productCaption clearfix">
                                                    <h5><a href="single-product.html">Mauris efficitur</a></h5>
                                                    <h3>$199</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu4" class="tab-pane fade">
                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            if (item.Jewelry.Discounted == true)
                                            {                                               
                                              <div class="col-sm-3 col-xs-12">
                                                <div class="imageBox">
                                                    <div class="productImage clearfix">
                                                        <a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">
                                                            <img src="@Url.Action("GetImage", "Jewelry", new { item.Jewelry.JewelryId })" />
                                                        </a>
                                                        <div class="productMasking">
                                                            <ul class="list-inline btn-group" role="group">
                                                                <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-search"></i></a></li>
                                                             </ul>
                                                         </div>
                                                     </div>
                                                       <div class="productCaption clearfix">
                                                                <h5><a href="@Url.Action("Content", "Jewelry", new { item.Jewelry.JewelryId })">@Html.DisplayFor(modelItem => item.Jewelry.Name)</a></h5>
                                                                <h3>@Html.DisplayFor(modelItem => item.Jewelry.OfferPrice)</h3>
                                                       </div>
                                                </div>
                                             </div>                                                
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FEATURE -->
                <div class="row features version2">
                    <div class="col-sm-4 col-xs-12">
                        <div class="box text-center">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <h4>Free Shipping </h4>
                            <span>Excepteur sint occaecat cupidatat.</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="box text-center">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <h4>100% money back</h4>
                            <span>Excepteur sint occaecat cupidatat.</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="box text-center">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <h4>24/7 support</h4>
                            <span>Excepteur sint occaecat cupidatat.</span>
                        </div>
                    </div>
                </div>



                <!-- FOOTER -->
                <div class="footer clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <div class="footerLink">
                                    <h5>Accessories</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Body care </a></li>
                                        <li><a href="#">Chambray </a></li>
                                        <li><a href="#">Floral </a></li>
                                        <li><a href="#">Rejuvination </a></li>
                                        <li><a href="#">Shaving </a></li>
                                        <li><a href="#">Toilette </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <div class="footerLink">
                                    <h5>BRANDS</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Barbour </a></li>
                                        <li><a href="#">Brioni </a></li>
                                        <li><a href="#">Oliver Spencer</a></li>
                                        <li><a href="#">Belstaff</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <div class="footerLink">
                                    <h5>Accessories</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Body care </a></li>
                                        <li><a href="#">Chambray </a></li>
                                        <li><a href="#">Floral </a></li>
                                        <li><a href="#">Rejuvination </a></li>
                                        <li><a href="#">Shaving </a></li>
                                        <li><a href="#">Toilette </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <div class="footerLink">
                                    <h5>Get in Touch</h5>
                                    <ul class="list-unstyled">
                                        <li>Call us at (555)-555-5555</li>
                                        <li><a href="mailto:support@iamabdus.com">support@iamabdus.com</a></li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!-- COPY RIGHT -->
                <div class="copyRight clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-12">
                                <p>&copy; 2016 Copyright Bigbag Store Bootstrap Template by <a target="_blank" href="http://www.iamabdus.com/">Abdus</a>.</p>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <ul class="list-inline">
                                    <li><img src="img/home/footer/card1.png"></li>
                                    <li><img src="img/home/footer/card2.png"></li>
                                    <li><img src="img/home/footer/card3.png"></li>
                                    <li><img src="img/home/footer/card4.png"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>            
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.js"></script>
<script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="plugins/countdown/jquery.syotimer.js"></script>
<script src="js/custom.js"></script>